<div>
  <% if @conversations.empty? %>
    <div class="notice-padding">
      <h3 class="body"> Get a match to start a conversation </h3>
      <%= link_to "Find your first match now", matches_path, class: "btn btn-main" %>
    </div>
  <% else %>
    <div>
      <% @conversations.each do |conversation| %>
        <div class="card-product d-flex justify-content-between mb-1">
          <div class="d-flex">
            <div>
            </div>
            <% if conversation.match.receiver == current_user %>
              <%= link_to conversation_path(conversation) do %>
                  <% if conversation.match.sender.photourl.key %>
                    <%= cl_image_tag("#{conversation.match.sender.photourl.key}", crop: :fill, class: "avatar-chat", alt: "Profile Pic") %>
                  <% else  %>
                    <img class="avatar-chat" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="" srcset="">
                  <% end %>
                  <div class="card-product-infos d-flex flex-column justify-content-center">
                  <h2> <%= conversation.match.sender.name%></h2>
                    <% if conversation.messages.last == nil %>
                      <p class="fw-bolder"> Send a message!</p>
                    <% else %>
                      <p><%=conversation.messages.last.content  %></p>
                    <% end %>
                <% end %>
            <%else%>
              <%= link_to conversation_path(conversation) do %>
                <% if conversation.match.sender.photourl.key %>
                  <%= cl_image_tag("#{conversation.match.receiver.photourl.key}", crop: :fill, class: "avatar-chat", alt: "Profile Pic") %>
                <% else  %>
                  <img class="avatar-chat" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="" srcset="">
                <% end %>
                <div class="card-product-infos d-flex flex-column justify-content-center">
                <h2> <%= conversation.match.receiver.name %></h2>
                    <% if conversation.messages.last == nil %>
                      <p class="fw-bolder"> Send a message!</p>
                    <% else %>
                      <p><%=conversation.messages.last.content  %></p>
                    <% end %>
              <% end %>
            <% end %>
          </div>
          </div>
              <div class = "card-product-infos d-flex flex-column justify-content-center">
              <%# to be updated with a stimulus controller to listen for when an unread message has been created %>
              <% if conversation.unread_messages?(current_user:) %>
                <div class= "new-message-notification"></div>
              <% else %>
                <div class= "no-new-message"></div>
              <% end %>

          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
