<h1>Chats</h1>
<div>
  <% if @conversations.empty? %>
    <div class="notice-padding">
      <h3 class="body"> Get a match to start a conversation </h3>
      <%= link_to "Find your first match now", matches_path, class: "btn btn-main" %>
    </div>
  <% else %>
    <div>
      <% @conversations.each do |conversation| %>
        <div class="card-product d-flex justify-content-between mb-1">
          <div class="d-flex">
            <div>
            </div>
            <% if conversation.match.receiver == current_user %>
              <%= link_to conversation_path(conversation) do %>
                  <%=cl_image_tag("#{conversation.match.sender.photourl.key}", crop: :fill, class: "avatar-chat", alt: "Profile Pic") %>
                  <div class="card-product-infos d-flex flex-column justify-content-center">
                  <h2> <%= conversation.match.sender.name%></h2>
                    <% if conversation.messages.last == nil %>
                      <p class="fw-bolder"> Send a message!</p>
                    <% else %>
                      <p><%=conversation.messages.last.content  %></p>
                    <% end %>
                <% end %>
            <%else%>
              <%= link_to conversation_path(conversation) do %>
                <%=cl_image_tag("#{conversation.match.receiver.photourl.key}", crop: :fill, class: "avatar-chat", alt: "Profile Pic") %>
                <div class="card-product-infos d-flex flex-column justify-content-center">
                <h2> <%= conversation.match.receiver.name %></h2>
                    <% if conversation.messages.last == nil %>
                      <p class="fw-bolder"> Send a message!</p>
                    <% else %>
                      <p><%=conversation.messages.last.content  %></p>
                    <% end %>
              <% end %>
            <% end %>
          </div>
          </div>
              <div class = "card-product-infos d-flex flex-column justify-content-center">
              <%# to be updated with a stimulus controller to listen for when an unread message has been created %>
              <div class= "new-message-notification"></div>

              <div class= "no-new-message"></div>

          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
