<div>
  <% if @conversations.empty? %>
    <div class="notice-padding">
      <h3 class="body"> Get a match to start a conversation </h3>
      <%= link_to "Find your first match now", matches_path, class: "btn btn-main" %>
    </div>
  <% else %>
    <div>
      <% @conversations.each do |conversation| %>
        <div class="card-product d-flex justify-content-between mb-1">
          <div class="d-flex">
            <div>
            </div>
            <% if conversation.match.receiver == current_user %>
              <%= link_to show_user_path(conversation.match.sender) do %>
                  <%=cl_image_tag("#{conversation.match.sender.photourl.key}", crop: :fill, class: "avatar-chat", alt: "Profile Pic") %>
                  <div class="card-product-infos d-flex flex-column justify-content-center">
                  <h2> <%= conversation.match.sender.name%></h2>
                <% end %>
            <%else%>
              <%= link_to show_user_path(conversation.match.receiver) do %>
                <%=cl_image_tag("#{conversation.match.receiver.photourl.key}", crop: :fill, class: "avatar-chat", alt: "Profile Pic") %>
                <div class="card-product-infos d-flex flex-column justify-content-center">
                <h2> <%= conversation.match.receiver.name %></h2>
              <% end %>
            <% end %>
          </div>
          </div>
          <div class = "card-product-infos d-flex flex-column justify-content-center">
            <%= link_to "Message", conversation_path(conversation), class: "btn btn-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>






<%# loop through each of the IDS, load the correct info for each id %>
