<div class="container chatroom" data-controller="conversation-subscription"
  data-conversation-subscription-conversation-id-value="<%= @conversation.id %>"
>
<% if @conversation.match.receiver == current_user %>
  <a href="" class="match-details">
    <h1> <%= @conversation.match.sender.name %></h1>
  </a>
<% else %>
  <a href="" class="match-details">
    <h1> <%= @conversation.match.receiver.name %> </h1>
  </a>
<% end %>

  <div class="messages" data-conversation-subscription-target="messages">
    <% @conversation.messages.each do |message| %>
     <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@conversation, @message], html: {class: "d-flex"} do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Send message",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
