<div class="container chatroom" data-controller="conversation-subscription"
  data-conversation-subscription-conversation-id-value="<%= @conversation.id %>"
>
  <% if @conversation.match.receiver == current_user %>
    <div class="match-details">
      <%= link_to "#{@conversation.match.sender.name}", show_user_path(@conversation.match.sender.id), class: "match-details-text"  %>
    </div>
  <% else %>
      <div class="match-details">
        <%= link_to "#{@conversation.match.receiver.name}", show_user_path(@conversation.match.receiver.id), class: "match-details-text"  %>
       </div>
  <% end %>

  <div class="messages" data-conversation-subscription-target="messages">
    <% @conversation.messages.each do |message| %>
     <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@conversation, @message], html: {class: "d-flex"} do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Send message",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-messaging mb-3" %>
  <% end %>
</div>
