
<div class="container profile" >
<%# data-matches-target="profile" %>
  <div class="profile-pic-name">
  <% if profile.photourl.key %>
    <%=  cl_image_tag profile.photourl.key, crop: :fill, class: "avatar-profile" %>
  <% else  %>
    <img class="avatar-profile" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="" srcset="">
  <% end %>
  </div>

  <div class="name">
    <h1 class="name"><%= profile.name %></h1>
    <div class="d-flex">
      <i class="fa-solid fa-location-dot"></i>
      <h5 class="location"> <%= profile.location %> </h5>
    </div>
  </div>

  <div class="about-me">
    <p class="profile-bio"><%= profile.about%></p>
  </div>

  <div class="sample">
    <% if profile.sampleurl.key %>
    <audio src="<%=   cloudinary_url(profile.sampleurl.key, :resource_type=>"video", :transformation=>[
    {:duration=>"10.0"}]) %>"
    controls controlslist="nodownload"></audio>
  <% else %>
    <audio src="//samplelib.com/lib/preview/mp3/sample-12s.mp3" controls controlslist="nodownload"></audio>
  <% end %>
  </div>

  <div class="instruments">
    <h6 class="label">I PLAY...</h6>
    <div class="display-pill-container">
      <% profile.instruments.each do |instrument| %>
        <div class="display-pill">
          <p><%= instrument.instrument %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="genres">
    <h6 class="label">I JAM TO...</h6>
    <div class="display-pill-container">
      <% profile.genres.each do |genre| %>
        <div class="display-pill">
          <p><%= genre.genre %></p>
        </div>
      <% end %>
    </div>
  </div>

</div>
