<!DOCTYPE html>
<html>
  <head>
    <title>Jamm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">   </script>
    <style>

    </style>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

   <% if user_signed_in?  %>
      <%= render "layouts/livenav" %>
      <div class="top-buffer">
        <%= yield %>
      </div>
    <% else %>
      <%= render "layouts/nav" %>
      <%= yield %>
    <% end %>
  </body>
</html>
