<!DOCTYPE html>
<html>
  <head>

    <%= favicon_link_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="apple-touch-icon" sizes="57x57" href="/app/assets/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/app/assets/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/app/assets/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/app/assets/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/app/assets/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/app/assets/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/app/assets/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/app/assets/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/app/assets/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/app/assets/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/app/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/app/assets/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/app/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/app/assets/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/app/assets/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></ -b script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">   </script>
    <style>

    </style>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <title><%# meta_title %></title>
    <meta name="description" content="<%# meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%# meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%# meta_image %>" />
    <meta property="og:description" content="<%# meta_description %>" />
    <meta property="og:site_name" content="<%# meta_title %>" />
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

   <% if user_signed_in?  %>
      <%= render "layouts/livenav" %>
      <div class="top-buffer">
        <%= yield %>
      </div>
    <% else %>
      <%= render "layouts/nav" %>
      <%= yield %>
    <% end %>
  </body>
</html>
